.input-form {
	margin-top: 10px;
	margin-bottom: 20px;
}

.message {
	margin-top: 10px;
	margin-bottom: 10px;
}

.success {
	color: green;
}

.fail {
	color: red;
}

.note-count {
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
}
